<style>
    img {
        max-width: 100%;
    }

    .body {
        border: 2px solid rgb(102, 102, 109);
        width: 80%;
        margin: 0 auto;
        color: #000;
    }

    .body img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<div class="container fluid mt-5 px-5 mx-auto" style="max-width: 100%">
    <h1>{{article.title}}</h1>
    <a href="/profile/{{article.author.username}}" class="btn">Muallif: {{article.author.firstName}}
        {{article.author.lastName}}</a>
    <div class="body p-3 my-5">
        {{{article.body}}}
    </div>
    <div class="reactions d-flex justify-content-between">
        <div class="btn-group" role="group" aria-label="Basic example">
            <a href="" class="btn btn-success btn-sm">Like</a>
            <a href="" class="btn btn-danger btn-sm">Like</a>
        </div>
        <input type="text" name="comment" class="form-control w-75" id="" placeholder="Izoh yozish">
        <button class="btn btn-primary">Send</button>
    </div>
</div>